.*
!.gitignore
!.gitlab-ci.yml
!.gitattributes
!.clang-format
!.clang-tidy
!.dockerignore
!.gitlab-ci
# Ignore builds, ThirdParty and Testing directories
build*
ThirdParty
Testing
# Ignore .DS_Store sometimes created by OS X.
.DS_Store
# for the userguide
*.pdf
# Kdevelop project files
*.kdev4
# Sublime project files
*.sublime-project
*.sublime-workspace
# CLion build directories
cmake-build-*
# Any python cache directories
__pycache__
# Generated CardiacEPSolver CellModel class
solvers/CardiacEPSolver/CellModels/CellMLTest.*
# Generated source files
library/MatrixFreeOps/SwitchLimits.h
